<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Your Car Brand is: <%= carBrand %></p>
    <p>Your Car Model is: <%= carModel %></p>
    <p>Your Car Color is: <%= carColor %></p>
  </body>
</html>
